[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
paho-mqtt = "*"
numpy = "*"
python-dotenv = "*"
requests = "*"
plotly = "*"
dash = "*"
influxdb-client = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.12"

[scripts]
start = "python __main__.py"
start-mqtt-server = "python -m mqtt"
start-rest-server = "python -m rest"
start-frontend = "python -m frontend"
